@import "http://localhost/bootstrap/less/bootstrap.less";


/**
 * Constants
	*/
@color-candy-purple: #cc66aa;
@color-column-active: #33ff44;
@color-panel:	#f5f5f5;
@color-border:	#d5d5d5;
@toolbar-border: solid 1px @color-border;

/**
 * Misc
	*/
* { border-radius: 0 !important; }
body { background-color: #fff; font-family: "Arial", Helvetica, sans-serif; }
.btn.active, .btn:active { background-color: @color-candy-purple; color: #fff; }
.btn:focus { outline: none; }
.modal-lg {	width: 867px; top: 50px;}
.nav-tabs { position:relative; top: -40px; }
.nav-tabs { li { background-color: #eee; } }
.floating-log { position:fixed;	width:320px;	z-index:10000000;	right:0;	top: 0; }
.alert {	padding: 10px 40px 10px 10px;	width:320px;	position: absolute;	animation: log-slide 0.125s;	transition-timing-function: ease-in; }
rzslider span.rz-bubble { color: #fff; }
@keyframes log-slide	{	from { right: -360; } 	to { right: 0;  } }

/**
 * Upper-left Menu
	*/
.main-menu { .input-group;
	.dropdown-button { .input-group-addon; border: none; padding: 0; margin: 0;	top: 0;}
	.icon-save { .glyphicon; .glyphicon-floppy-save; }
	.icon-open { .glyphicon; .glyphicon-open; }
	.main-menu-button	{ .glyphicon; .glyphicon-menu-hamburger; .btn; .btn-primary; top: 0; border: none; height: 50px; background-color: @color-candy-purple; }
	.name-input { .form-control; font-size: 30px; height: 50px;	margin: 0;	border: none;	padding: 5 10 5 10px; }
	.mini-analyser-canvas { height: 50px;	width: 20%;	display: inline;	position: absolute;	right: 0;	top: 6px;	z-index: 20;	cursor: pointer; }
}


/**
 * Toolbar
	*/
.main-toolbar {	height: 36px;	background-color: @color-panel;	border-bottom: @toolbar-border;	border-top: @toolbar-border;
	button {	background-color: @color-panel;	padding-top: 4px;	height: 100%;	border: none; }
	.add-track { .btn-group; padding-left: 40px; }
	.btn-add-track { .btn; .btn-default; border: none; background-color: transparent;}
	.add-track-menu { font-size: 22px; }
	.toolbar-select { border: none;	background-color:	inherit; }
	.toolbar-slider {	width: 140px;	height: 10px; }

	rzslider {	margin: 0; }
	rzslider .rz-bar { left: 0; top:20px; }
	rzslider .rz-pointer { top: 0px; width: 12px; height: 12px; }
	rzslider .rz-pointer:after { top: 2px; left: 2px; }
	rzslider span.rz-bubble { top: -32px; color: #fff; }

}

/**
 * Tracks
	*/

.candy-beat-grid	{ width: auto; float: left; display:inline-block;
	.column-active { background-color: @color-column-active; }
	.grid-cell { width: 12px; height: 12px; margin: 0 1 1 0px; cursor: pointer;}
	.grid-cell-small { width: 3px; height: 3px; margin: 0 1 0 0px; }
	.grid-cell-joined { .grid-cell;	margin: 0 0 1 0px;	width: 13px; }
	.grid-cell-active { opacity: 0.8; }
	.grid-cell-playing { animation: highlight-cell 1s; }
	.grid-cell-inactive { opacity: 0.3; }
	@keyframes highlight-cell { from { opacity: 0;  }  to { opacity: 1;} }
}

.container-tracks { .container-fluid; width:940px; margin:auto; margin-top: 15px; height:645px; ;
	.candy-track { margin: 12 0 12 0px; }
	.track-controls {	float: left; padding-right: 4px; vertical-align: middle; text-align: center;
		.track-settings-icon { .btn; .btn-default; .glyphicon; .glyphicon-option-vertical; display: inline-block; font-size:21px; color: #777; height: 103px; width: 24px; top: 0px; padding: 2px; padding-top:40px; }
	}
	.track-icon	{	margin: 0 0 6 0px;}
}

/**
 * Mixer
	*/
.mixer-panel { position: fixed; 	height: 200px; 	bottom: 0; width: 100%;	border-top: solid @color-border 1px;	background-color: @color-panel;	padding: 0 60 0 60px;
	.mixer-track { .pull-left; 	margin: 10px; }
}

/**
 * Modals
	*/
.item-songs {	border: solid 1px @color-border;	padding: 14px;	margin: 4px; }
.item-songs:hover {	border-color: @color-candy-purple;	cursor: pointer; }

.analyser-modal {	.modal-body; height: 600px; padding: 20px;
	.analyser-canvas {	height: 500px;	width: 800px;	}
	.analyser-frequency-labels {	position: absolute;	float: left;	width: 120px;	}
}
