<uib-tabset style="top: -100px;">

 <!--  Track Settings -->
 <uib-tab>
  <uib-tab-heading>Track Settings</uib-tab-heading>

 <div class="track-settings">
  <h3> Track {{ track.index + 1 }} </h3>
  <h4> Resolution: {{ track.resolution }} </h4>
  <input type="number"
         class="resolution-spinner"
         name="input"
         ng-model="track.resolution"
         min="0"
         max="6"
         required>
 </div>


<color-picker ng-model="track.color"
              class="color-picker"
              color-picker-format="'hex'"
              color-picker-alpha="false"
              color-picker-swatch-only="true"
              color-picker-pos="'bottom right'">
              
</color-picker>

</uib-tab>

<!--  Synth Settings -->
<uib-tab>
 <uib-tab-heading>
  {{ track.synthesizers[0].type === 'sampler' ? 'Sampler' : 'Synthesizer' }} Settings
 </uib-tab-heading>

 <settingssynth></settingssynth>
</uib-tab>

<!-- Randomizer Settings -->
<uib-tab>
 <uib-tab-heading>Randomizer Settings</uib-tab-heading>

 <randomizersettings></randomizersettings>
</uib-tab>

</uib-tabset>
