<uib-tabset style="top: -100px;">

 <!--  Track Settings -->
 <uib-tab>
  <uib-tab-heading>Track Settings</uib-tab-heading>

 <div class="track-settings">

  <color-picker ng-model="track.color"
                class="color-picker"
                color-picker-format="'hex'"
                color-picker-alpha="false"
                color-picker-swatch-only="true"
                color-picker-pos="'bottom right'">

  </color-picker>


  <h3 class="track-name pull-left"> Track {{ track.index + 1 }}</h3>
  <h3 class="pull-left">
  <div style="height:34px;">
   <div class="candy-beat-grid">
    <span class="btn-grid"
          ng-click="saveGrid()">
     <span ng-repeat="col in track.columns"
           style="display: inline-block;">
       <div ng-repeat="cell in col"
            class="grid-cell-small"
            ng-style="{ 'background-color' : track.color }"
            ng-class="cellClass(cell);">
       </div>
     </span>
     <span class="save-icon-grid"></span>
    </span>
   </div>
  </div>
 </h3>
 <h3>
  <span class="load-icon"
        uib-popover-template="'html/templates/load-grid.html'"
        popover-title="Load a Saved Grid"
        popover-placement="bottom"
        type="button">
  </span>
 </h3>
  <table class="table">
   <tr><td class="col-one">Resolution</td>
       <td class="col-two"><input type="number"
              class="resolution-spinner"
              name="input"
              ng-model="track.resolution"
              min="0"
              max="6"
              required>

            <span ng-class="getResolutionIcon()"></span>
       </td>
       <td>There will be {{ 64 / powerOfTwo(track.resolution) }} column{{ track.resolution === 6 ? '' : 's' }} in this track's grid. </td>
   </tr>
  </table>



 </div>

 <span style="clear:both;"></span>

 <div class="modal-footer">
   <button class="btn btn-default" ng-click="cancel()">OK</button>
 </div>
</uib-tab>

<!--  Synth Settings -->
<uib-tab>
 <uib-tab-heading>
  {{ track.synthesizers[0].type === 'sampler' ? 'Sampler' : 'Synthesizer' }} Settings
 </uib-tab-heading>

 <settingssynth></settingssynth>
</uib-tab>

<!-- Randomizer Settings -->
<uib-tab>
 <uib-tab-heading>Randomizer Settings</uib-tab-heading>

 <randomizersettings></randomizersettings>
</uib-tab>

</uib-tabset>
