<uib-tabset style="top: -100px;">

 <!--  Track Settings -->
 <uib-tab>
  <uib-tab-heading>Track Settings</uib-tab-heading>

 <div class="track-settings">

  <color-picker ng-model="track.color"
                class="color-picker"
                color-picker-format="'hex'"
                color-picker-alpha="false"
                color-picker-swatch-only="true"
                color-picker-pos="'bottom right'">

  </color-picker>

  <h3> Track {{ track.index + 1 }} </h3>

  <table class="table">
   <tr><td class="col-one">Resolution</td>
       <td><input type="number"
              class="resolution-spinner"
              name="input"
              ng-model="track.resolution"
              min="0"
              max="6"
              required>

            <span ng-class="getResolutionIcon()"></span>
       </td>
       <td>There will be {{ 64 / powerOfTwo(track.resolution) }} column{{ track.resolution === 6 ? '' : 's' }} in this track's grid. </td>
   </tr>
   <tr><td class="col-one">Resolution</td>
       <td><input type="number"
              class="resolution-spinner"
              name="input"
              ng-model="track.resolution"
              min="0"
              max="6"
              required>

            <span ng-class="getResolutionIcon()"></span>
       </td>
       <td>There will be {{ 64 / powerOfTwo(track.resolution) }} column{{ track.resolution === 6 ? '' : 's' }} in this track's grid. </td>
   </tr>
   <tr></tr>

  </table>
 </div>
</uib-tab>

<!--  Synth Settings -->
<uib-tab>
 <uib-tab-heading>
  {{ track.synthesizers[0].type === 'sampler' ? 'Sampler' : 'Synthesizer' }} Settings
 </uib-tab-heading>

 <settingssynth></settingssynth>
</uib-tab>

<!-- Randomizer Settings -->
<uib-tab>
 <uib-tab-heading>Randomizer Settings</uib-tab-heading>

 <randomizersettings></randomizersettings>
</uib-tab>

</uib-tabset>
